<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body class="hidden">
        <div class="centrado" id="onload">
            <div class="lds-default">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>


        <%- include('partials/navbar') %>

            <div id="particles-js"></div>


            
            <div class="heading">
                <h2>Galeria de Imagenes</h2>
                <p><em>Estos son algunos de nuestros resultados </em></p>
            </div>

            <div class="galery-container">

                <div class="gallery">

                    <a href="/img/gallery/img1.jpeg" data-lightbox="models" data-title="imagen1">
                        <img src="/img/gallery/img1.jpeg" width=300px height=400px alt="">
                    </a>

                    <a href="/img/gallery/img2.jpeg" data-lightbox="models" data-title="imagen2">
                        <img src="/img/gallery/img2.jpeg" width=300px height=400px alt="">
                    </a>

                    <a href="/img/gallery/img3.jpg" data-lightbox="models" data-title="imagen3">
                        <img src="/img/gallery/img3.jpg" width=300px height=400px  alt="">
                    </a>

                    <a href="/img/gallery/img4.jpg" data-lightbox="models" data-title="imagen4">
                        <img src="/img/gallery/img4.jpg" width=300px height=400px  alt="">
                    </a>

                    <a href="/img/gallery/img5.jpg" data-lightbox="models" data-title="imagen5">
                        <img src="/img/gallery/img5.jpg" width=300px height=400px  alt="">
                    </a>

                    <a href="/img/gallery/img6.jpeg" data-lightbox="models" data-title="imagen6">
                        <img src="/img/gallery/img6.jpeg" width=300px height=400px  alt="">
                    </a>

                    <a href="/img/gallery/img7.jpeg" data-lightbox="models" data-title="imagen1">
                        <img src="/img/gallery/img7.jpeg" width=300px height=400px alt="">
                    </a>

                    <a href="/img/gallery/img8.jpeg" data-lightbox="models" data-title="imagen2">
                        <img src="/img/gallery/img8.jpeg" width=300px height=400px alt="">
                    </a>

                    <a href="/img/gallery/img9.jpg" data-lightbox="models" data-title="imagen3">
                        <img src="/img/gallery/img9.jpg" width=300px height=400px  alt="">
                    </a>

                    <a href="/img/gallery/img10.jpg" data-lightbox="models" data-title="imagen4">
                        <img src="/img/gallery/img10.jpg" width=300px height=400px  alt="">
                    </a>

                    <a href="/img/gallery/img11.jpg" data-lightbox="models" data-title="imagen5">
                        <img src="/img/gallery/img11.jpg" width=300px height=400px  alt="">
                    </a>

                    <a href="/img/gallery/img12.jpg" data-lightbox="models" data-title="imagen6">
                        <img src="/img/gallery/img12.jpg" width=300px height=400px  alt="">
                    </a>

                    <a href="/img/gallery/img13.jpeg" data-lightbox="models" data-title="imagen1">
                        <img src="/img/gallery/img13.jpeg" width=300px height=400px alt="">
                    </a>

                    <a href="/img/gallery/img14.jpeg" data-lightbox="models" data-title="imagen2">
                        <img src="/img/gallery/img14.jpeg" width=300px height=400px alt="">
                    </a>

                </div>

            </div>


            <%- include('partials/footer') %>



                <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
                <script src="/js/app.js"></script>
                <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
                <script src="/js/loader.js"></script>
                <script src="/js/lightbox-plus-jquery.min.js"></script>
    </body>

</html>