<div class="main-accordion">
    <section class="accordion-container">
        <div class="tabs">
            <div class="tab">
                <input type="checkbox" name="" id="id-1">
                <label for="id-1" class="tab-title"><i class="fa-solid fa-star"></i>DISEÑO DE CORTE </label>
                <div class="tab-container">
                    <p>Cada corte es una obra de arte, cuidadosamente diseñada para resaltar tus rasgos únicos y realzar tu brillo interior.<br>
                     Nuestros estilistas, apasionados y expertos, te guiarán a través de un proceso de consulta personalizado, donde explorarás las mejores opciones que se adaptenn a tu personalidad y estilo.</p>
                <img src="/img/accordion/corte.jpg" width="40%" height="40%" alt="">
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="" id="id-2">
                <label for="id-2" class="tab-title"><i class="fa-solid fa-crown"></i>COLORACIÓN</label>
                <div class="tab-container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero at, suscipit soluta voluptate repellendus autem, saepe quos eius dolor temporibus deserunt quaerat voluptatem tempore aut illo quae. Alias, repudiandae.</p>
                <img src="/img/accordion/tintura.jpg" width="40%" height="40%" alt="">
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="" id="id-3">
                <label for="id-3" class="tab-title"> <i class="fa-solid fa-seedling"></i>NUTRICIONES</label>
                <div class="tab-container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero at, suscipit soluta voluptate repellendus autem, saepe quos eius dolor temporibus deserunt quaerat voluptatem tempore aut illo quae. Alias, repudiandae.</p>
                    <img src="/img/accordion/nutricion.jpg" width="40%" height="40%" alt="">
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="" id="id-4">
            <label for="id-4" class="tab-title"><i class="fa-solid regular fa-bolt"></i>BARBERIA</label>
                <div class="tab-container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero at, suscipit soluta voluptate repellendus autem, saepe quos eius dolor temporibus deserunt quaerat voluptatem tempore aut illo quae. Alias, repudiandae.</p>
                    <img src="/img/accordion/barberia.jpg" width="40%" height="40%" alt="">
                </div>
            </div>
        </div>
        </section>

  </div>