<div class="carrousel">
    <div class="carrousel-items">
        <% for (let i = 1; i <= 14; i++) { %>
            <div class="carrousel-item">
                <img src="/img/carrousel/foto<%= i %>.jpeg" width="300" height="300" alt="">
            </div>
        <% } %>
    </div>
</div>
