<div class="carrousel">
    <div class="carrousel-items">
        <div class="carrousel-item">
            <img src="/img/foto1.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto2.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto3.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto4.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto5.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto6.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto7.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto1.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto2.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto3.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto4.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto5.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto6.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto7.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto1.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto2.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto3.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto4.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto5.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto6.jpg" width=300px height=300px alt="">
        </div>
        <div class="carrousel-item">
            <img src="/img/foto7.jpg" width=300px height=300px alt="">
        </div>
    </div>
</div>