<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a href="https://instagram.com/saturnopeluok?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://m.facebook.com/profile.php/?id=100027543513661&name=xhp_nt__fb__action__open_user"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.youtube.com/@saturnopeluok"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.tiktok.com/@nahuelhairstyle?_t=8evZPbpb4uz&_r=1"><i class="fa-brands fa-tiktok"></i></a>
            <!-- <a href="https://wa.me/c/5493584903900?utm_medium=social&utm_source=heylink.me"><i class="fa-brands fa-whatsapp"></i></a> -->
        </div>
        <div class="footerNav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/galeria">Galeria</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Productos</a></li>
            </ul>
        </div>
    </div>
    <div class="footerBottom">
        <p>Made with <i class="fa-solid fa-heart"></i>  by<span class="designer"><a
                    href="#">Ailin</a></span></p>
    </div>
</footer>