<nav class="navbar">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a href="#" class="enlace">
        <img src="/img/saturnonegro.png" width="10%" height="10%" alt="logo" class="logo">
    </a>
    <ul>
        <li><a href="/" class="activo">Inicio</a></li>
        <li><a href="/galeria">Galeria</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Productos</a></li>
    </ul>
</nav>